<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.edu.modular.edu.dao.AttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.edu.modular.edu.model.Attachment">
        <id column="attachment_id" property="attachmentId" />
        <result column="attachment_task_id" property="attachmentTaskId" />
        <result column="attachment_url" property="attachmentUrl" />
        <result column="attachment_code" property="attachmentCode" />
        <result column="attachment_file_code" property="attachmentFileCode" />
        <result column="attachment_name" property="attachmentName" />
        <result column="attachment_type" property="attachmentType" />
        <result column="attachment_create_time" property="attachmentCreateTime" />
        <result column="attachment_update_time" property="attachmentUpdateTime" />
        <result column="attachment_create_by" property="attachmentCreateBy" />
        <result column="attachment_update_by" property="attachmentUpdateBy" />
    </resultMap>

</mapper>
