<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.edu.modular.edu.dao.UserCreditMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.edu.modular.edu.model.UserCredit">
        <id column="user_credit_id" property="userCreditId" />
        <result column="paper_id" property="paperId" />
        <result column="exam_id" property="examId" />
        <result column="user_id" property="userId" />
        <result column="user_credit_access" property="userCreditAccess" />
        <result column="user_credit_status" property="userCreditStatus" />
        <result column="user_credit_create_time" property="userCreditCreateTime" />
        <result column="user_credit_update_time" property="userCreditUpdateTime" />
        <result column="user_credit_create_by" property="userCreditCreateBy" />
        <result column="user_credit_update_by" property="userCreditUpdateBy" />
        <result column="user_credit_is_delete" property="userCreditIsDelete" />
    </resultMap>

</mapper>
